

.logorow {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 10px 0;
}

.logo {
  position: relative;
  width: 291px;
}

.navbottom {
  height: 5px;
  width: 100%;
  
  background: var(--color-nav-border);
}


.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;

  border-radius: 10px 10px 0 0;

  border: 1px solid var(--color-nav-border);

  overflow: hidden;
}


.navbutton {
  width: 100%;
  height: 100%;

  white-space: break-spaces;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: var(--color-inactive);
  border: 1px solid var(--color-nav-border);
}

.navbutton.selected {
  background: var(--color-primary);
  
}

.navbutton.selected a {
  color: white;
}